@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap");
main {
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 1rem;
  padding-left: 1rem;
}
