// Colours
$primary: #9b62e0;
$primary-dark: #8f50db;
$secondary: #fdefbe;
$success: #4c9a2a;
$danger: #ff0000;
$table-border: rgba(227, 215, 215, 0.6);
$muted: rgba(34, 34, 34, 0.05);
$grey: #ebebeb;
$light: #f8f3f3;
// Text colour
$text-dark: #222222;
$text-light: #ffffff;
$text-warning: #ff0000;
$text-grey: #717171;
// Backgrounds
$bg-light: #f8f3f3;
$bg-dark: #222222;
$bg-green: rgba(179, 230, 96, 0.34);
$bg-purple: rgba(168, 115, 232, 0.34);
$bg-purple-light: #faf4ff;
$bg-purple: #aac6f1;

//Font sizes
$heading-lg: 3.75rem;
$sub-heading-lg: 3.125rem;
$heading-md: 3.125rem;
$sub-heading-md: 2.825rem;
$heading-sm: 3.75rem;
$sub-heading-sm: 3.125rem;
$description: 1.125rem;
