@import "../../assets/styles/core/variables";
.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  border: 1px solid rgba(34, 34, 34, 0.04);
  .container {
    display: flex;
    align-items: center;
    .logo {
      margin-right: 3.375rem;
    }
    .navbarCollapse {
      display: flex;
      align-items: center;
      flex-basis: auto;
      flex-grow: 1;

      .navbarElements {
        display: flex;
        flex-direction: row;
        align-items: center;
        .navItem {
          font-size: 0.875rem;
          color: $text-dark;
          text-decoration: none;
          margin-right: 2rem;
          &:last-child {
            margin: 0;
          }
        }
      }
      .actionItem {
        display: flex;
        margin-left: auto;
      }
      @media (max-width: 992px) {
        width: 280px;
        height: 100%;
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 4;
        transform: translateX(-50rem);
        background-color: white;
        transition: transform 0.4s cubic-bezier(0.56, 0.1, 0.34, 0.91);
        box-shadow: 0 0 3rem rgb(0 0 0 / 20%);
        padding: 2rem 1rem;
        &.active {
          transform: translateX(0);
        }
        .navbarElements {
          display: block;
          .navItem {
            display: block;
            margin-right: 0px;
            margin-bottom: 1rem !important;
          }
        }
        .actionItem {
          display: block;
          button,
          .profile {
            display: none;
          }
        }
      }
    }
    .mobileCta {
      display: none;
      margin-left: auto;
      @media (max-width: 992px) {
        display: flex;
      }
    }
  }
  .menu {
    display: none;
    width: 24px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
    position: relative;
    margin-left: 1rem;
    .bar,
    .bar::before,
    .bar::after {
      position: absolute;
      background-color: #000;
      margin: auto;
      width: 100%;
      height: 2px;
      content: "";
      top: 50%;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
    .bar {
      margin-top: -2px;
      &::before {
        top: -8px;
        transform: rotate(0deg);
      }
      &::after {
        top: 8px;
        transform: rotate(0deg);
      }
    }

    &.active {
      .bar {
        background-color: transparent;
        &:before {
          transform: rotate(45deg);
          top: 0;
        }
        &:after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }

    @media (max-width: 992px) {
      display: block;
    }
  }
}
